*{
    margin: 0;
    padding :0;
    font-family: sans-serif;
}
body
{
    width: 100%;
    background-image: url("../image/BG.svg");
    background-size: cover;
    background-position: center;
    text-align: center;
}
img
{
    border: 3px solid #2254c4;
    border-radius: 5px;
}
h1
{
    font-family: 'Trebuchet MS';
    font-weight: bold;
}
button
{
    width: 15%;
    min-width: 100px;
    padding: 13px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #2254c4;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span
{
    background: #2254c4;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.4s;
}
button:hover span
{
    width: 100%;
}
button:hover span
{
    border: none;
}
button:hover
{
    color: white;
}
a
{
    text-decoration: none;
    position: relative;
}
